<!DOCTYPE html>
<html land="en">
    <head><title>회원가입</title></head>
    <body>
        <h1>회원가입</h1>
        <form method="post">
            <label>id :</label><input type="text" name="userId"><br>
            <label>pw :</label><input type="password" name="userPw"><br>
            <label>pw-re :</label><input type="password" name="userPwRe"><br>
            <label>name :</label><input type="text" name="name"><br>
            <label>nickname :</label><input type="text" name="nickname"><br>
            <label>email :</label><input type="text" name="email"><br>
            <label>phone :</label><input type="text" name="phone"><br>
            <input type="submit">
    </form>
    </body>
</html>